* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*BODY*/


@font-face {
    font-family: potterfont;
    src: url(LumosLatino.ttf);
}

/*TITLE*/
.title {
    font-family: potterfont;
    font-size: 55px;
    line-height: 20px;
}


.directions {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: darkred;
}

.modal-title, .modal-body, .modal-footer {
    font-family: 'Open Sans Condensed', sans-serif;
}

.modal-title, .modal-footer, .button-close {
    color: darkred;
}

/*GAME BOARD*/
.game-square {
    border: 2px solid black;
    border: 80%;
    box-shadow: 5px 10px #888888;
}

/*
.current {
    border: 2px solid  black;
    background-color:  darkred;
    color: white;
    text-align: center;
}*/

.dice {
    width: 80%;
}


#new-game, #roll, #hold {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.total-scores {
    margin-top: 5%;
}

.player1, .player2 {
    font-family: potterfont;
    font-size: 35px;
}

.active {
    font-weight: bold;
    color: darkred;
}

.player1-score, .player2-score {
    font-family: potterfont;
    font-size: 45px;
    line-height: 10px;
}

.player1-current, .player2-current {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.player1-total-score, .player2-total-score {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 5px;
}


/* COPYRIGHT */
.credit {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
}

.copyright {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
}
